# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build output
dist
dist-ssr

# Local environment files
*.local

# Firebase service key
serviceAccountKey.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
models/cron_job_logs.txt
models/checkpoint.json
models/serviceaccount.json
node_modules/.package-lock.json
